PORT=8000
MONGO_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/<dbname>
JWT_SECRET=your_jwt_secret_here
JWT_REFRESH_SECRET=your_refresh_token_secret_here
ADZUNA_APP_ID=your_adzuna_app_id_here
ADZUNA_APP_KEY=your_adzuna_app_key_here

# For Email (if using Resend)
RESEND_API_KEY=re_your_api_key_here
FROM_EMAIL="Name <email@domain.com>"

