PORT=8000
MONGO_URI=mongodb+srv://msrajguru7_db_user:React@7@jobdhundo.eckv9jw.mongodb.net/?appName=jobdhundo
JWT_SECRET=somesecretkey
JWT_REFRESH_SECRET=somerefreshsecretkey
ADZUNA_APP_ID=c31cfbfe
ADZUNA_APP_KEY=bd7371fe4368ca5ada485fddf5e2cefb

